PictureSharing/PictureSharing/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:39046/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:39046/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:39046/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ThreadingServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetGebruikersNaam_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGebruikersNaam" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGebruikersNaam_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGebruikersNaamResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGebruikersPW_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGebruikersPW" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGebruikersPW_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGebruikersPWResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetGebruikersNaam_InputMessage">
    <wsdl:part name="parameters" element="tns:SetGebruikersNaam" />
  </wsdl:message>
  <wsdl:message name="IService1_SetGebruikersNaam_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetGebruikersNaamResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetGebruikersPW_InputMessage">
    <wsdl:part name="parameters" element="tns:SetGebruikersPW" />
  </wsdl:message>
  <wsdl:message name="IService1_SetGebruikersPW_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetGebruikersPWResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddGebruiker_InputMessage">
    <wsdl:part name="parameters" element="tns:AddGebruiker" />
  </wsdl:message>
  <wsdl:message name="IService1_AddGebruiker_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddGebruikerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGebruiker_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGebruiker" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGebruiker_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGebruikerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGebruikerByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGebruikerByName" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGebruikerByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGebruikerByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllGebruikers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGebruikers" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllGebruikers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGebruikersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InlogMethode_InputMessage">
    <wsdl:part name="parameters" element="tns:InlogMethode" />
  </wsdl:message>
  <wsdl:message name="IService1_InlogMethode_OutputMessage">
    <wsdl:part name="parameters" element="tns:InlogMethodeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UploadFoto_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadFoto" />
  </wsdl:message>
  <wsdl:message name="IService1_UploadFoto_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadFotoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFotoNaam_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFotoNaam" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFotoNaam_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFotoNaamResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFotoPath_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFotoPath" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFotoPath_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFotoPathResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllFotos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFotos" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllFotos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFotosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetFotoPath_InputMessage">
    <wsdl:part name="parameters" element="tns:SetFotoPath" />
  </wsdl:message>
  <wsdl:message name="IService1_SetFotoPath_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetFotoPathResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetFotoNaam_InputMessage">
    <wsdl:part name="parameters" element="tns:SetFotoNaam" />
  </wsdl:message>
  <wsdl:message name="IService1_SetFotoNaam_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetFotoNaamResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddFoto_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFoto" />
  </wsdl:message>
  <wsdl:message name="IService1_AddFoto_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFotoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGebruikerID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGebruikerID" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGebruikerID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGebruikerIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFotoByGebruiker_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFotoByGebruiker" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFotoByGebruiker_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFotoByGebruikerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteFoto_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFoto" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteFoto_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFotoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllFotosById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFotosById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllFotosById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFotosByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetGebruikersNaam">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetGebruikersNaam" message="tns:IService1_GetGebruikersNaam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetGebruikersNaamResponse" message="tns:IService1_GetGebruikersNaam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGebruikersPW">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetGebruikersPW" message="tns:IService1_GetGebruikersPW_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetGebruikersPWResponse" message="tns:IService1_GetGebruikersPW_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetGebruikersNaam">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetGebruikersNaam" message="tns:IService1_SetGebruikersNaam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetGebruikersNaamResponse" message="tns:IService1_SetGebruikersNaam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetGebruikersPW">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetGebruikersPW" message="tns:IService1_SetGebruikersPW_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetGebruikersPWResponse" message="tns:IService1_SetGebruikersPW_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddGebruiker">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddGebruiker" message="tns:IService1_AddGebruiker_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddGebruikerResponse" message="tns:IService1_AddGebruiker_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGebruiker">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetGebruiker" message="tns:IService1_GetGebruiker_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetGebruikerResponse" message="tns:IService1_GetGebruiker_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGebruikerByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetGebruikerByName" message="tns:IService1_GetGebruikerByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetGebruikerByNameResponse" message="tns:IService1_GetGebruikerByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllGebruikers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllGebruikers" message="tns:IService1_GetAllGebruikers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllGebruikersResponse" message="tns:IService1_GetAllGebruikers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InlogMethode">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InlogMethode" message="tns:IService1_InlogMethode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InlogMethodeResponse" message="tns:IService1_InlogMethode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadFoto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UploadFoto" message="tns:IService1_UploadFoto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UploadFotoResponse" message="tns:IService1_UploadFoto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFotoNaam">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetFotoNaam" message="tns:IService1_GetFotoNaam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetFotoNaamResponse" message="tns:IService1_GetFotoNaam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFotoPath">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetFotoPath" message="tns:IService1_GetFotoPath_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetFotoPathResponse" message="tns:IService1_GetFotoPath_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFotos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllFotos" message="tns:IService1_GetAllFotos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllFotosResponse" message="tns:IService1_GetAllFotos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetFotoPath">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetFotoPath" message="tns:IService1_SetFotoPath_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetFotoPathResponse" message="tns:IService1_SetFotoPath_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetFotoNaam">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetFotoNaam" message="tns:IService1_SetFotoNaam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetFotoNaamResponse" message="tns:IService1_SetFotoNaam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddFoto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddFoto" message="tns:IService1_AddFoto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddFotoResponse" message="tns:IService1_AddFoto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGebruikerID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetGebruikerID" message="tns:IService1_GetGebruikerID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetGebruikerIDResponse" message="tns:IService1_GetGebruikerID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFotoByGebruiker">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetFotoByGebruiker" message="tns:IService1_GetFotoByGebruiker_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetFotoByGebruikerResponse" message="tns:IService1_GetFotoByGebruiker_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFoto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteFoto" message="tns:IService1_DeleteFoto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteFotoResponse" message="tns:IService1_DeleteFoto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFotosById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllFotosById" message="tns:IService1_GetAllFotosById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllFotosByIdResponse" message="tns:IService1_GetAllFotosById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGebruikersNaam">
      <soap:operation soapAction="http://tempuri.org/IService1/GetGebruikersNaam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGebruikersPW">
      <soap:operation soapAction="http://tempuri.org/IService1/GetGebruikersPW" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetGebruikersNaam">
      <soap:operation soapAction="http://tempuri.org/IService1/SetGebruikersNaam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetGebruikersPW">
      <soap:operation soapAction="http://tempuri.org/IService1/SetGebruikersPW" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGebruiker">
      <soap:operation soapAction="http://tempuri.org/IService1/AddGebruiker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGebruiker">
      <soap:operation soapAction="http://tempuri.org/IService1/GetGebruiker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGebruikerByName">
      <soap:operation soapAction="http://tempuri.org/IService1/GetGebruikerByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllGebruikers">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllGebruikers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InlogMethode">
      <soap:operation soapAction="http://tempuri.org/IService1/InlogMethode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFoto">
      <soap:operation soapAction="http://tempuri.org/IService1/UploadFoto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFotoNaam">
      <soap:operation soapAction="http://tempuri.org/IService1/GetFotoNaam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFotoPath">
      <soap:operation soapAction="http://tempuri.org/IService1/GetFotoPath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFotos">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllFotos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetFotoPath">
      <soap:operation soapAction="http://tempuri.org/IService1/SetFotoPath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetFotoNaam">
      <soap:operation soapAction="http://tempuri.org/IService1/SetFotoNaam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFoto">
      <soap:operation soapAction="http://tempuri.org/IService1/AddFoto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGebruikerID">
      <soap:operation soapAction="http://tempuri.org/IService1/GetGebruikerID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFotoByGebruiker">
      <soap:operation soapAction="http://tempuri.org/IService1/GetFotoByGebruiker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFoto">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteFoto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFotosById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllFotosById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:39046/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>