PictureSharing/PictureSharing/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:39046/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ThreadingServices" />
  <xs:element name="GetGebruikersNaam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gebrID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGebruikersNaamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGebruikersNaamResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGebruikersPW">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gebrID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGebruikersPWResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGebruikersPWResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetGebruikersNaam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gebruikersNaam" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gebrID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetGebruikersNaamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetGebruikersNaamResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetGebruikersPW">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gebrID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetGebruikersPWResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetGebruikersPWResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGebruiker">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ThreadingServices" minOccurs="0" name="gebruiker" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGebruikerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGebruiker">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gebrID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGebruikerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ThreadingServices" minOccurs="0" name="GetGebruikerResult" nillable="true" type="q2:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGebruikers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGebruikersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ThreadingServices" minOccurs="0" name="GetAllGebruikersResult" nillable="true" type="q3:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InlogMethode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gebrNaam" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InlogMethodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ThreadingServices" minOccurs="0" name="InlogMethodeResult" nillable="true" type="q4:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFoto">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFotoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFotoNaam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fotoID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFotoNaamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFotoNaamResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFotoPath">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fotoID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFotoPathResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFotoPathResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFotos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFotosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ThreadingServices" minOccurs="0" name="GetAllFotosResult" nillable="true" type="q5:ArrayOfFoto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFotoPath">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fotoID" type="xs:long" />
        <xs:element minOccurs="0" name="fotoPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFotoPathResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetFotoPathResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFotoNaam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fotoID" type="xs:long" />
        <xs:element minOccurs="0" name="fotoNaam" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFotoNaamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetFotoNaamResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFoto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ThreadingServices" minOccurs="0" name="foto" nillable="true" type="q6:Foto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFotoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGebruikerID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fotoID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGebruikerIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGebruikerIDResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFotoByGebruiker">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gebrID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFotoByGebruikerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ThreadingServices" minOccurs="0" name="GetFotoByGebruikerResult" nillable="true" type="q7:Foto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFoto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fotoID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFotoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFotosById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gebrId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFotosByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ThreadingServices" minOccurs="0" name="GetAllFotosByIdResult" nillable="true" type="q8:ArrayOfFoto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>