PictureSharing/PictureSharing/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ThreadingServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ThreadingServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="GebruikerID" type="xs:long" />
      <xs:element minOccurs="0" name="GebruikerNaam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GebruikersPW" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="ArrayOfFoto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Foto" nillable="true" type="tns:Foto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFoto" nillable="true" type="tns:ArrayOfFoto" />
  <xs:complexType name="Foto">
    <xs:sequence>
      <xs:element minOccurs="0" name="FotoID" type="xs:long" />
      <xs:element minOccurs="0" name="FotoNaam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GebruikerID" type="xs:long" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Foto" nillable="true" type="tns:Foto" />
</xs:schema>